**/.DS_Store
**/Users/janjelinek/Library/CloudStorage/OneDrive-HogeschoolInholland/Inholland/ME1_4/AmorLibrorum/__pycache__
random.py
**/__pycache__/connect.cpython-39.pyc
*.pyc
__pycache__/
**/__pycache__/