**/.DS_Store
**/Users/janjelinek/Library/CloudStorage/OneDrive-HogeschoolInholland/Inholland/ME1_4/AmorLibrorum/__pycache__
random.py
*.pyc
*.pyc
**/__pycache__/connect.cpython-39.pyc
*.pyc
__pycache__/connect.cpython-39.pyc
__pycache__/connect.cpython-39.pyc
**/__pycache__/user_creation.cpython-39.pyc
__pycache__/connect.cpython-39.pyc
__pycache__\connect.cpython-39.pyc
C:\Users\Gabrielius\Desktop\Uni\NL\Project Databases\github\__pycache__\connect.cpython-39.pyc